# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Jobmaster binary
/jobmaster/jobmaster

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.zip

# Editor config files 
*.idea
*.vscode

# Configuration Files
local*
*.env
app.conf

swagger/
kafka.rc
.pprof
postman.rc